<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Graphic preview</title>

  <!--build:css css/styles.min.css-->
  <link rel="stylesheet" href="css/monthly-housing-calculator_styles.css">
  <!--endbuild-->

</head>

<body>


  <div id="calculator">

    <p class="calculator-label">Housing budget calculator</p>

    <div class="flex-container">

      <div class="input-area">


        <div class="calc-input">
          <label for="rentbuy">I am looking to:</label>
          <div class="calc-input-radio">
            <input type="radio" id="rent" name="rentbuy" v-model="rentbuy" value="rent" @click="isDisabled = true"></input>
            <label for="rent">Rent</label>
      
            <input type="radio" id="buy" name="rentbuy" v-model="rentbuy" value="buy" @click="isDisabled = false"></input>
            <label for="buy">Buy</label>
          </div>
        </div>

        <div class="calc-input money-input wrap">
          <label for="income">Annual pre-tax income</label>
          <input type="text" name="income" v-model="income" maxlength="10" oninput="this.value=this.value.slice(0,this.maxLength)"></input>
        </div>

        <div class="wrap">
          <div class="calc-input money-input"  v-bind:class="{disabledtext: isDisabled}">
            <label for="debt">Monthly debt obligations</label>
            <input type="text" name="debt" v-model="debt" maxlength="10" oninput="this.value=this.value.slice(0,this.maxLength)" :disabled="isDisabled"></input> 
          </div>
          <div class="input-explanation">
            Include all non-housing debt payments: credit cards, auto loans, student loans, etc.
          </div>   
        </div>
  
        <button v-on:click="getResults">Calculate</button>

      </div>

        
      <div class="results">

        <div v-if="showRentbuy=='rent'">
          <p class="label-text">For renters</p>
          <p>
            Experts recommend keeping your housing expenses below <b>25%</b> or <b>30%</b> of your income.
          </p>
          <p>
            25% of your monthly income is <span class="value-text">${{monthly25}}</span> and 30% of your monthly income is <span class="value-text">${{monthly30}}</span>.
          </p>
        </div>
        <div v-if="showRentbuy=='buy'">
          <p class="label-text">For buyers</p>
          <p>
            Experts recommend keeping your housing expenses below <b>25%</b> or <b>28%</b> of your income, and your total monthly debt obligations to <b>36%</b> of your income.
          </p>
          <p>
            25% of your monthly income is <span class="value-text">${{monthly25}}</span> and 28% of your monthly income is <span class="value-text">${{monthly28}}</span>.
          </p>
          <p v-if="exceedMax==true">
            To keep your monthly debt obligations under 36%, you can spend up to <span class="value-text">${{canPay}}</span>
          </p>
          <p v-if="exceedMax==false">
            These values would keep your total monthly debts below 36% of your income.
          </p>
        </div>

        

        
      </div>

    </div>

    <div class="calc-footer">
      <div class="chart-credit">kiersten schmidt/grow</div>
      <img src="https://fm.cnbc.com/applications/cnbc.com/resources/files/2020/01/29/h_logo_white.png" class="grow-logo">
    </div>
   
    
  </div>
    
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <!-- <script src="https://code.highcharts.com/modules/data.js"></script> -->
  <!-- <script src="http://code.highcharts.com/modules/exporting.js"></script> -->
  <!-- <script src="https://code.highcharts.com/highcharts-more.js"></script> -->
  <!--build:js js/main.min.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <script src="js/monthly-housing-calculator_main.js"></script>
  <!-- endbuild -->
</body>
</html>
